<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>M-Game</title>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@1,100;1,400;1,700&display=swap');
    </style>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
</head>
<body>
    <a class="menuButton" href="/"><img class="menuButton" src="img/accueil.png" alt="Home Icon"></a>
    <div id="score">
        <p>SCORE</p>
        <p></p>
    </div>
    <div id="calcul">
        <p id="a"></p>
        <p id="op">x</p>
        <p id="b"></p>
        <p id="equalSign">=</p>
        <input type="text" id="result" size="2">
    </div>
    <div id="highScore">
        <p>HIGH SCORE</p>
        <p></p>
    </div>
    <script src="js/game.js"></script>
</body>
</html>