* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}

body {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: green;
}

#titre {
    text-align: center;
}

#titre h1 {
    font-weight: bold;
}

#titre h2 {
    font-size: .75rem;
}

img.menuButton {
    width: 16px;
}

a.menuButton {
    position: absolute;
    top: 5px;
}

#calcul {
    display: flex;
    font-size: 2rem;
    font-weight: bold;
}

#calcul p {
    margin: 10px;
}

#result {
    text-align: center;
    border-style: solid;
    font-weight: bold;
}

#score, #highScore {
    text-align: center;
}

#score p:first-child, #highScore p:first-child {
    font-weight: bold;
}

#score p, #highScore p {
    margin: 0;
    padding: 0;
}

@-webkit-keyframes good {
    0% {
        background-color: white;
    }
    50% {
        background-color: rgba(0, 255, 0, .5);
    }
    100% {
        background-color: white;
    }
}
    
.good {
    -webkit-animation-name: good;
    -webkit-animation-duration: .5s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in-out;
}

@-webkit-keyframes bad {
    0% {
        background-color: white;
    }
    50% {
        background-color: rgba(255, 0, 0, .5);
    }
    100% {
        background-color: white;
    }
}
    
.bad {
    -webkit-animation-name: bad;
    -webkit-animation-duration: .5s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease-in-out;
}